
@{
    ViewData["Title"] = "Mars (Post)Weekly Weather";
}

<h1>Weather On Mars over the Past Week:</h1>
<br />
<label>Martian Day(Sol) :</label>@ViewBag.MartianDay
<br />
<label>Earth Day(Time of First Data Transmission):</label>@ViewBag.EarthDay
<br />
<label>Average Temperature: </label>@ViewBag.AverageTemperature
<br />
<label>Low: </label>@ViewBag.Low
<br />
<label>High: </label>@ViewBag.High
<br />
<label>Average Atmospheric Pressure: </label>@ViewBag.Pressure
<br />
<label>Lowest Atmospheric Pressure Reading: </label>@ViewBag.LowPressure
<br />
<label>Highest Atmospheric Pressure Reading: </label>@ViewBag.HighPressure
<br />
<label>Current Season: </label>@ViewBag.Season
<br />
<label>Common Wind Direction: </label>@ViewBag.WindDirection